body {
  width: 100%;
  height: 100%;
  margin: 0 auto;
  font-family: 'Lucida Console', 'Courier New', monospace;
  background: rgb(248, 184, 158);
  background: radial-gradient(
    circle,
    rgba(248, 184, 158, 1) 27%,
    rgba(210, 64, 49, 1) 70%
  );
}
input {
  padding: 5px;
  border-radius: 8px;
  text-align: center;
}
button {
  text-transform: uppercase;
  background-color: #b3ea47;
  font-weight: bold;
  border-radius: 10px;
  padding: 5px;
}
button:hover {
  cursor: pointer;
}

.container {
  width: 100%;
  height: 100%;
  background: radial-gradient(
    circle,
    rgba(248, 184, 158, 1) 27%,
    rgba(210, 64, 49, 1) 70%
  );
  background-image: url(img/start-page.webp);
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 100;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#game-over-text,
#retry-btn {
  display: none;
}
.start-retry-btn {
  width: 150px;
  height: 45px;
  margin-top: 5px;
  margin-bottom: 15%;
  font-size: 20px;
  -webkit-box-shadow: 0px 0px 23px -2px #000000;
  -moz-box-shadow: 0px 0px 23px -2px #000000;
  -o-box-shadow: 0px 0px 23px -2px #000000;
  box-shadow: 0px 0px 23px -2px #000000;
}
.label-nickname {
  color: #ffff;
  font-weight: bold;
  font-size: 20px;
}
.custom-text {
  color: #b3ea47;
  margin: 10px;
}

.info-btn {
  width: 90px;
  position: absolute;
  bottom: 4%;
  right: 3%;
}
.ranking-btn {
  width: 110px;
  position: absolute;
  bottom: 4%;
  left: 2%;
}

.audio-btn {
  border-radius: 10px;
  background-color: #b3ea47;
  position: absolute;
  bottom: 6%;
  left: 15%;
  -webkit-box-shadow: 0px 0px 25px 0px #000000;
  -moz-box-shadow: 0px 0px 25px 0px #000000;
  -o-box-shadow: 0px 0px 25px 0px #000000;
  box-shadow: 0px 0px 25px 0px #000000;
}
.audio-btn > img {
  background-color: transparent;
  width: 30px;
  height: 25px;
}

.animation-zoom {
  animation: zoominout 1.5s infinite;
}
@keyframes zoominout {
  0% {
    transform: scale(1, 1);
  }
  50% {
    transform: scale(1.1, 1.1);
  }
  100% {
    transform: scale(1, 1);
  }
}
.info-btn,
.ranking-btn:hover {
  cursor: pointer;
}
.fly-btn {
  position: absolute;
  bottom: 2%;
  right: 5%;
  font-weight: bold;
  font-size: 25px;
  padding: 10px;
  border-radius: 50%;
  background: rgb(144, 86, 49);
  background: radial-gradient(
    circle,
    rgba(144, 86, 49, 1) 27%,
    rgba(179, 234, 71, 1) 70%
  );
  color: #ffff;
  width: 85px;
  height: 85px;
}
.stop-btn {
  position: absolute;
  top: 3%;
  right: 5%;
  font-weight: bold;
  font-size: 15px;
  border-radius: 10px;
  background-color: #b3ea47;
  color: #000;
  width: 35px;
  height: 35px;
}

.modal {
  display: none;
  position: absolute;
  z-index: 200;
  padding-top: 100px;
  left: 0;
  bottom: -5px;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
  background-color: #b3ea47;
  margin: auto;
  padding: 20px;
  border-radius: 10px;
  width: 55%;
  max-height: 75%;
  overflow: auto;
}

.close {
  color: #aaaaaa;
  float: right;
  font-size: 35px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.social {
  display: flex;
  align-items: center;
  margin: 0;
}
.icon {
  width: 23px;
}

.share-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 10px;
}
.share-btn {
  display: flex;
  align-items: center;
}
.share-btn > img {
  width: 20px;
  margin-right: 5px;
}
.link-copied {
  display: none;
  color: #905631;
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
}

.info-problems > p {
  margin: 0;
}
.info-problems-title {
  text-align: center;
  font-weight: bold;
}

.rank-modal-content {
  background-color: #b3ea47;
  margin: auto;
  padding: 20px;
  border-radius: 10px;
  width: 90%;
  height: 85%;
  overflow: auto;
  text-align: center;
}
.rank-modal-title {
  margin: 0;
}

.scores-container {
  display: flex;
  width: 50%;
  margin: auto;
  gap: 20px;
}

.info-footer {
  border-top: 1px solid black;
  padding-top: 10px;
  margin-top: 20px;
  text-align: center;
}

.privacy-policy {
  margin: 5px;
}
.privacy-policy > a.iubenda-embed {
  background-color: transparent !important;
  color: black !important;
  font-size: 8px !important;
}

.no-nickname-modal-content {
  text-align: center;
  position: absolute;
  top: 40%;
  left: 25%;
}

@supports (-webkit-touch-callout: none) {
  /*Questa cosa la faccio solo ed esclusivamente per provarlo sul mio iphone! 
    Tutto il progetto è trasformato in un'app per android, ma io usando per lo più iphone non riesco a testarlo decentemente.
    Utilizzo questo accrocco per vederlo come sarebbe per la normale app.
    Il giorno in cui deciderò di portare l'app anche su dispositivi IOS eliminerò questa parte.*/
  @media screen and (min-width: 320px) and (max-width: 667px) and (orientation: portrait) {
    html {
      transform: rotate(-90deg);
      transform-origin: left top;
      width: 100vw;
      height: 100vh;
      background: rgb(248, 184, 158);
      background: radial-gradient(
        circle,
        rgba(248, 184, 158, 1) 27%,
        rgba(210, 64, 49, 1) 70%
      );
      overflow: hidden;
      position: absolute;
      top: 101%;
      left: 0;
    }
    body {
      width: 760px;
      height: 415px;
      position: relative;
    }
    .rank-modal-content {
      width: 85%;
    }
  }
}
